@{
    ViewBag.Title = "Немного информации";
    ViewBag.ForWhat = "Для чего было разработано веб-приложение?";
    ViewBag.Technologies = "Использованные технологии";
    ViewBag.Author = "Об авторе";
}
<h2>@ViewBag.Title</h2>
<hr/>

<h3>@ViewBag.ForWhat</h3>
<p>CharactersEditor является ознакомительным веб-приложением. Оно призвано продемострировать работу с базой данных.</p>

<h3>@ViewBag.Technologies</h3>
<p>В основе лежит ASP.NET MVC. В качестве системы управления базами данных используется MSSQL. Язык программирования - C#.</p>
<p>Также был использован HTML (Razor Pages), CSS и JS.</p>

<h3>@ViewBag.Author</h3>
<p>Автором является Николай Маклаков, начинающий C# разработчик из России, г. Архангельск.</p>
<p>Если есть желание связаться - перейдите на домашнюю страницу. Там размещена ссылка на профиль в ВКонтакте.</p>

<hr/>
<p>Сделано с <img  src="~/Icons/heart.png"/> и использованием  <a href="https://docs.microsoft.com/">Microsoft Docs</a></p>
