@{
    ViewBag.Title = "Домашняя";
}

<div class="jumbotron">
    <h1>В простоте - сила!</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Минималистичный редактор</h2>
        <p>
            Приложение основано на ASP.NET.
            Оно позволяет хранить и редактировать информацию
            о персонажах различных комиксов. Всего одна таблица в базе данных, немного магии и ничего лишнего!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Открытый исходный код</h2>
        <p>Open Source - это круто! Довольно трудно поспорить с данным утверждением.</p>
        <p>У Вас есть возможность ознакомиться с исходным кодом данного веб-приложения по ссылке ниже</p>
        <p><a class="btn btn-default" href="https://www.google.com">Исходный код &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Обратная связь</h2>
        <p>Есть вопросы? Вы можете связаться с автором в ВКонтакте.</p>
        <p>При наличии свободного времени и желания он может ответить на них.</p>
        <p><a class="btn btn-default" href="https://vk.com/s.nicko">Написать &raquo;</a></p>
    </div>
</div>